<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PracticaWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Practica_WebService/PracticaWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PracticaWebServiceSoap"
                contract="w.PracticaWebServiceSoap" name="PracticaWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>